* {
    margin: 0;
    padding: 0;
  }

  :root {
  --clr-primary: #0E1822;
  --clr-secondary: #0087ca;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    overflow-x: hidden;
  }
  
  .container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  .lead {
    font-size: 1.5rem;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: transparent;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: lowercase;
    color: #f4f4f4;
    font-size: 1.3rem;
  }

  .nav-links {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .nav-links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav-links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
  }

  /* home */

  .about_title {
    font-size: 3em;
  }

  .about_heading {
    font-size: 3rem;
    padding: 20px 0;
  }

  /* Section Images */
  section#home {
    background: linear-gradient(
    105deg, 
    var(--clr-primary) 60%, 
    var(--clr-secondary) 60%);
  }
  
  section#about {
    background: var(--clr-primary);
  }
  
  section#games {
      background-color: #0E1822;
  }
  
  section#participate {
    background: var(--clr-primary);
  }

  .home_contain {
    display: flex;
    flex-direction: row;
  }

  .home_head {
    font-size: 10vh;
    margin-top: 300px;
    text-shadow: 3px 3px #c4bdbd
  }

  .home_contain img {
    width: 50vw;
    margin-top: 50px;
  }

  /* mobile btn for games */
  .mob-btn {
    visibility: hidden;
  }

  /* card */
  .card{
    color: var(--clr-primary);
    background-image: url('../images/final/val_card.png');
    background-size: cover;
    padding: 10rem 0 0;
    /* max-width: 35ch; */
    max-width: 40ch;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin: 0 30px;
  }

  .card p, h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card:hover, .card:focus-within {
    transform: scale(1.025);
  }

  .card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
      hsl(0 0% 0% / 0),
      hsl(20 0% 0% / 0.3) 20%,
      hsl(0 0% 0% / 1)
    );
  }

  @media (hover) {
    .card-content {
      transform: translateY(55%);
      transition: transform 500ms ease;
    }
    .card:hover .card-content,
    .card-content:focus-within .card-content {
      transform: translateY(0);
      /* delay */
      /* transition-delay: 500ms;  */
    }
  
    .card:focus-within .card-content {
      transition-duration: 0m s;
    }
  
    .card-content > *:not(.card-title) {
      opacity: 0;
      transition: opacity 500ms linear;
    }
  
    .card:hover .card-content > *:not(.card-title),
    .card-content:focus-within .card:hover .card-content > *:not(.card-title) {
      opacity: 1;
      /* delay */
      /* transition-delay: 1000ms; */
    }
    .card-title::after {
      transform: scaleX(0);
    }  
  }

  .card-title {
    position: relative;
    width: max-content;
  }

  .card-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% + var(--padding));
    left: calc(var(--padding) * -1);
    bottom: 0;
    background: #17FCB8;
    transform-origin: left;
    transition: transform 500ms ease;

  }

  .card:hover .card-title::after,
  .card:focus-within .card:hover .card-title::after {
    transform: scaleX(1)
  }

  .button {
    top: 20px;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-primary);
    background-color: #17FCB8;
    padding: 0.5em 1.25em;
    border-radius: .25em;
  }
  
  .btn-nav {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-primary);
    background-color: #17FCB8;
    padding: 0.5em 1.25em;
    border-radius: .25em;
  }

  .card-body {
    color: rgb(255, 255, 255 / 0.85)
  }

  .contain {
    display: flex;
    flex-direction: row;
  }  

  /* about page */
  video {
    width: 60vw;
  }

  /* responsiveness */
  /* @media only screen and (max-width: 800px) {
    .home_title {
      left: 0;
    }
  } */

  .btn_register {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-primary);
    background-color: #17FCB8;
    padding: 0.5em 1.25em;
    border-radius: .25em;
  }

  .p_text {
    font-size: 5rem;
    text-align: center;
    margin-top: 30px;
  }

  .p_para {
    font-size: 1.25rem;
    margin-bottom: 20px;

  }

  .p_para a {
    color: #41dcb3;
  }

  .participate-contain {
    display: flex;
  }

  @media only screen and (max-width: 1230px) {
    .home_contain {
      display: flex;
      flex-direction: column;
    }
    .home_head {
      margin-top: 0;
      padding: 0;
      text-align: center;
      font-size: 8vh;
      position: relative;
      bottom: 80px;
    }
    .image_home img {
      margin-top: 100px;
      width: 85vh;
      overflow: hidden;
    }
    .season {
      display: none;
    }

  }

  @media only screen and (max-width: 700px) {
    .contain {
      display: flex;
      flex-direction: column;
    }  
    .card{
      max-width: 25ch;
      height: 15ch;
    }
    .card-content p, .button{
      display: none;
    }
    .card-title {
      position: relative;
      top: 40px;
    }
    .mob-btn {
      visibility: visible
    }

  }

  @media only screen and (max-width: 580px) {
    .image_home img {
      margin-top: 100px;
      width: 50vh;
      overflow: hidden;
    }
    .navbar ul li a {
      font-size: 1rem;
    }
    .navbar ul li {
      padding: 1rem 0.25rem;
    }
    .p_text {
      font-size: 3rem;
      text-align: center;
    }
    .p_para {
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
    .participate-contain {
      flex-direction: column;
    }
    .participate-contain a{
      margin-top: 10px;
    }
    .about_heading {
      font-size: 2rem;
      padding: 20px 0;
    }
    .home_head {
      font-size: 3.5rem;
    }
  }

  @media only screen and (max-width: 430px) {
    .image_home img {
      margin-top: 100px;
      width: 50vh;
      overflow: hidden;
    }
    .home_head {
      font-size: 2.5rem;
      margin-top: 10px;
    }

  }

  @media only screen and (max-width: 350px) {
    .image_home img {
      margin-top: 100px;
      width: 42vh;
      overflow: hidden;
    }
    .navbar ul li {
      padding: 1rem 0rem;
    }
    .home_head {
      font-size: 2rem;
      margin-top: 40px;
    }
    /* .home_head {
      font-size: 6vh;
      margin-top: 10px;
    } */
  }